{% extends 'base.html' %}
{% load static %}
{% block title %}Blog{% endblock %}
{% load params_tags %}


{% block content %}
<section class="ftco-section bg-light" id="blog-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Blog</span>
                <h2 class="mb-4">Our Blog</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div>
        </div>
        <div class="row d-flex">
            {% for item in page_obj %}
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="{% url 'blog:views_up' item.id %}" class="block-20" style="background-image: url({{ item.image.url }});">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-3 meta">
                            <p class="mb-0">
                                <span class="mr-2">{{ item.created_at }}</span>
                                <a href="#" class="mr-2">Admin</a>
                                <a href="#" class="meta-chat"><span class="icon-chat"></span> {{ item.views }}</a>
                            </p>
                        </div>
                        <h3 class="heading"><a href="{% url 'blog:views_up' item.id %}">{{ item.title }}</a>
                        </h3>
                        <p>{{ item.content }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <div class="block-27">
                <ul>
            {% if page_obj.has_other_pages %}
                 {% if page_obj.has_previous %}
                    <li><a href="?{% url_replace page=page_obj.previous_page_number %}"><</a></li>
                 {% endif %}

                 {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }}</span></li>
                    {% elif i > page_obj.number|add:-2 and i < page_obj.number|add:2 %}
                    <li><span><a href="?{% url_replace page=i %}">{{ i }}</a></span></li>
                    {% endif %}
                 {% endfor %}

                 {% if page_obj.has_next %}
                    <li><a href="?{% url_replace page=page_obj.next_page_number %}">&gt;</a></li>
                 {% endif %}

            {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}