{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="home-section" class="hero">
        <div class="home-slider owl-carousel">
            <div class="slider-item">
                <div class="overlay"></div>
                <div class="container-fluid px-md-0">
                    <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end"
                         data-scrollax-parent="true">
                        <div class="one-third order-md-last img"
                             style="background-image:url({% static 'images/bg_1.jpg' %});">
                            <div class="overlay"></div>
                            <div class="overlay-1"></div>
                        </div>
                        <div class="one-forth d-flex  align-items-center ftco-animate"
                             data-scrollax=" properties: { translateY: '70%' }">
                            <div class="text">
                                <span class="subheading">Hello! This is Clyde</span>
                                <h1 class="mb-4 mt-3">Creative <span>UI/UX</span> Designer &amp; Developer</h1>
                                <p><a href="#contact-section" class="btn btn-primary">Hire me</a> <a href="{{ cv.resume.url }}"
                                                                                      class="btn btn-primary btn-outline-primary">Download
                                    CV</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="overlay"></div>
                <div class="container-fluid px-md-0">
                    <div class="row d-flex no-gutters slider-text align-items-end justify-content-end"
                         data-scrollax-parent="true">
                        <div class="one-third order-md-last img"
                             style="background-image:url({% static 'images/bg_2.jpg' %});">
                            <div class="overlay"></div>
                            <div class="overlay-1"></div>
                        </div>
                        <div class="one-forth d-flex align-items-center ftco-animate"
                             data-scrollax=" properties: { translateY: '70%' }">
                            <div class="text">
                                <span class="subheading">We Design &amp; Build Brands</span>
                                <h1 class="mb-4 mt-3">Hi, I am <span>Clyde</span> This is my favorite work.</h1>
                                <p><a href="#contact-section" class="btn btn-primary">Hire me</a> <a href="{{ cv.resume.url }}"
                                                                                      class="btn btn-primary btn-outline-primary">Download
                                    CV</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-counter img bg-light" id="section-counter">
        <div class="container">
            <div class="row">
                {% for item in goals %}
                    <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 d-flex">
                            <div class="icon d-flex justify-content-center align-items-center">
                                {#                        <span class="flaticon-suitcase"></span>#}
                                <img src="{{ item.icon.url }}" alt="" style="width: 60%">
                            </div>
                            <div class="text">
                                <strong class="number" data-number="{{ item.count }}">0</strong>
                                <span>{{ item.title }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="ftco-about ftco-section ftco-no-pt ftco-no-pb" id="about-section">
        <div class="container">
            <div class="row d-flex no-gutters">
                <div class="col-md-6 col-lg-5 d-flex">
                    <div class="img-about img d-flex align-items-stretch">
                        <div class="overlay"></div>
                        <div class="img d-flex align-self-stretch align-items-center"
                             style="background-image:url({% static 'images/about-1.jpg' %});">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7 pl-md-4 pl-lg-5 py-5">
                    <div class="py-md-5">
                        <div class="row justify-content-start pb-3">
                            <div class="col-md-12 heading-section ftco-animate">
                                <span class="subheading">My Intro</span>
                                <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">About Me</h2>
                                <p>A small river named Duden flows by their place and supplies it with the necessary
                                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly
                                    into
                                    your mouth.</p>
                                <ul class="about-info mt-4 px-md-0 px-2">
                                    <li class="d-flex"><span>Name:</span> <span>Clyde Nowitzki</span></li>
                                    <li class="d-flex"><span>Date of birth:</span> <span>January 01, 1990</span></li>
                                    <li class="d-flex"><span>Address:</span> <span>San Francisco CA 97987 USA</span>
                                    </li>
                                    <li class="d-flex"><span>Zip code:</span> <span>1000</span></li>
                                    <li class="d-flex"><span>Email:</span> <span><a
                                            href="https://preview.colorlib.com/cdn-cgi/l/email-protection"
                                            class="__cf_email__"
                                            data-cfemail="a1c2d8c5c4cfced6c8d5dbcac8e1c6ccc0c8cd8fc2cecc">[email&#160;protected]</a></span>
                                    </li>
                                    <li class="d-flex"><span>Phone: </span> <span>+1-2234-5678-9-0</span></li>
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <div class="my-interest d-lg-flex w-100">
                                    <div class="interest-wrap d-flex align-items-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="flaticon-listening"></span>
                                        </div>
                                        <div class="text">Music</div>
                                    </div>
                                    <div class="interest-wrap d-flex align-items-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="flaticon-suitcases"></span>
                                        </div>
                                        <div class="text">Travel</div>
                                    </div>
                                    <div class="interest-wrap d-flex align-items-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="flaticon-video-player"></span>
                                        </div>
                                        <div class="text">Movie</div>
                                    </div>
                                    <div class="interest-wrap d-flex align-items-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="flaticon-football"></span>
                                        </div>
                                        <div class="text">Sports</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section bg-light" id="skills-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Skills</span>
                    <h2 class="mb-4">My Skills</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                </div>
            </div>
            <div class="row progress-circle mb-5">
                {% for item in obj %}
                    <div class="col-lg-4 mb-4">
                        <div class="bg-white rounded-lg shadow p-4">
                            <h2 class="h5 font-weight-bold text-center mb-4">{{ item.title }}</h2>

                            <div class="progress mx-auto" data-value='{{ item.percentage }}'>
<span class="progress-left">
<span class="progress-bar border-primary"></span>
</span>
                                <span class="progress-right">
<span class="progress-bar border-primary"></span>
</span>
                                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                    <div class="h2 font-weight-bold">{{ item.percentage }}<sup class="small">%</sup>
                                    </div>
                                </div>
                            </div>


                            <div class="row text-center mt-4">
                                <div class="col-6 border-right">
                                    <div class="h4 font-weight-bold mb-0">{{ item.last_week }}%</div>
                                    <span class="small text-gray">Last week</span>
                                </div>
                                <div class="col-6">
                                    <div class="h4 font-weight-bold mb-0">{{ item.last_month }}%</div>
                                    <span class="small text-gray">Last month</span>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="ftco-section" id="services-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                    <span class="subheading">I am grat at</span>
                    <h2 class="mb-4">We do awesome services for our clients</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                </div>
            </div>
            <div class="row">
                {% for item in service %}
                    <div class="col-md-6 col-lg-3">
                        <div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <img src="{{ item.icon.url }}" style="width: 60%" alt="">
                            </div>
                            <div class="media-body">
                                <h3 class="heading mb-3">{{ item.title }}</h3>
                                <p>{{ item.content|truncatechars:"30" }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="ftco-hireme">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-8 col-lg-8 d-flex align-items-center">
                    <div class="w-100 py-4">
                        <h2>Have a project on your mind.</h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            It
                            is a paradisematic country, in which roasted parts of sentences fly.</p>
                        <p class="mb-0"><a href="#contact-section" class="btn btn-white py-3 px-4">Contact me</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 d-flex align-items-end">
                    <img src="{% static 'images/author.png' %}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section ftco-project" id="projects-section">
        <div class="container-fluid px-md-4">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Accomplishments</span>
                    <h2 class="mb-4">Our Projects</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                </div>
            </div>
            <div class="row">
                {% for item in project %}
                    <div class="col-md-3">
                        <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center"
                             style="background-image: url({{ item.image.url }});">
                            <div class="overlay"></div>
                            <div class="text text-center p-4">
                                <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
                                <span>{{ item.direction }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="ftco-section testimony-section bg-primary">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section heading-section-white text-center ftco-animate">
                    <span class="subheading">Testimonies</span>
                    <h2 class="mb-4">What client says about?</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">
                        {% for item in object_feedbacks %}
                            <div class="item">
                                <div class="testimony-wrap py-4">
                                    <div class="text">
                                        <span class="fa fa-quote-left"></span>
                                        <p class="mb-4 pl-5">{{ item.feedback }}</p>
                                        <div class="d-flex align-items-center">
                                            <div class="user-img"
                                                 style="background-image: url({{ item.avatar.url }})"></div>
                                            <div class="pl-3">
                                                <p class="name">{{ item.name }}</p>
                                                <span class="position">{{ item.position }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section bg-light" id="blog-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">Blog</span>
                    <h2 class="mb-4">Our Blog</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                </div>
            </div>
            <div class="row d-flex">
                {% for item in post %}
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="blog-entry justify-content-end">
                            <a href="/blog/article/{{ item.id }}/" class="block-20"
                               style="background-image: url({{ item.image.url }});">
                            </a>
                            <div class="text mt-3 float-right d-block">
                                <div class="d-flex align-items-center mb-3 meta">
                                    <p class="mb-0">
                                        <span class="mr-2">{{ item.created_at }}</span>
                                        <a href="" class="mr-2">Admin</a>
                                        <a href="" class="meta-chat"><span class="icon-chat"></span>
                                        </a>
                                    </p>
                                </div>
                                <h3 class="heading"><a href="/blog/article/{{ item.id }}/">{{ item.title }}</a>
                                </h3>
                                <p>{{ item.content }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">Contact us</span>
                    <h2 class="mb-4">Have a Project?</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                </div>
            </div>
            <div class="row block-9">
                <div class="col-md-8">
                    <form method="post" class="bg-light p-4 p-md-5 contact-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!--                                <input type="text" class="form-control" placeholder="Your Name">-->
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!--                                <input type="text" class="form-control" placeholder="Your Email">-->
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!--                                <input type="text" class="form-control" placeholder="Subject">-->
                                    {{ form.subject }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!--                                <textarea name="" id="" cols="30" rows="7" class="form-control"-->
                                    <!--                                          placeholder="Message"></textarea>-->
                                    {{ form.message }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 d-flex pl-md-5">
                    <div class="row">
                        <div class="dbox w-100 d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-map-marker"></span>
                            </div>
                            <div class="text">
                                <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                            </div>
                        </div>
                        <div class="dbox w-100 d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-phone"></span>
                            </div>
                            <div class="text">
                                <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                            </div>
                        </div>
                        <div class="dbox w-100 d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-paper-plane"></span>
                            </div>
                            <div class="text">
                                <p><span>Email:</span> <a
                                        href="https://preview.colorlib.com/cdn-cgi/l/email-protection#aac3c4ccc5ead3c5dfd8d9c3decf84c9c5c7"><span
                                        class="__cf_email__" data-cfemail="dfb6b1b9b09fa6b0aaadacb6abbaf1bcb0b2">[email&#160;protected]</span></a>
                                </p>
                            </div>
                        </div>
                        <div class="dbox w-100 d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-globe"></span>
                            </div>
                            <div class="text">
                                <p><span>Website</span> <a href="#">yoursite.com</a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock content %}
